* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
nav {
  background-color: black;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
section {
  background-color: aqua;
  display: flex;
}
.container1 {
  width: 50%;
  height: 90vh;
  background-color: #dad7cd;
  border-right: 2px solid black;
}
.container2 {
  width: 50%;
  height: 90vh;
  background-color: #a3b18a;
  border-left: 2px solid black;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  padding: 10px 25px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
}

.bg-color-1 {
  border: 2px solid tomato;
  background-color: tomato;
}

.bg-color-1:hover {
  background-color: #fa3e1d;
}
.bg-color-2 {
  border: 2px solid #33f70c;
  background-color: #31df0f;
  font-size: 2rem;
  font-weight: 500;
}

.bg-color-2:hover {
  background-color: #8aff47;
}
.bg-color-3 {
  border: 2px solid #ad0303;
  background-color: #fa2a2a;
  font-size: 2rem;
}

.bg-color-3:hover {
  background-color: #fd6565;
}
.message {
  font-size: 5rem;
}

.images-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.imgs {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.rock {
  background-image: url(./imgs/rock.jpg);
}

.paper {
  background-image: url(./imgs/paper.jpg);
}

.scissors {
  background-image: url(./imgs/scissors.jpg);
}
.disable {
  cursor: not-allowed;
}
